<mat-card>
    <form class="example-form" [formGroup]="LocationForm" (ngSubmit)="Create()">
        <mat-form-field class="full-width" formControlName="Ubicacion">
          <mat-label>Ubicación</mat-label>
          <input matInput placeholder="Ex. Q114">
        </mat-form-field>
      
        <mat-form-field class="full-width" formControlName="Tipo">
          <mat-label>Tipo de Ubicación</mat-label>
          <mat-select>
            <mat-option *ngFor="let tipo of tipos" [value]="tipo.Id">
              {{tipo.Descripcion}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
</mat-card>

